/* Tablet */
@media screen and (min-width: 426px) {
}

/* Laptop+ */
@media screen and (min-width: 769px) {
  .col-1 {
    width:12.5%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
  .col-2 {
    width:25%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
  .col-3 {
    width:37.5%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
  .col-4 {
    width:50%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
  .col-5 {
    width:62.5%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
  .col-6 {
    width:75%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
  .col-7 {
    width:87.5%;
    display:inline-block;
    vertical-align: top;
    padding:0.5rem;
  }
}

@media screen and (min-width: 1100px) {
}
